<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="logfile" xsi:type="File"
            fileName="D:\Logs\DDDSample\${date:format=yyyyMMdd}\app_${date:format=yyyy-MM-dd_HH}.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}"
            archiveEvery="Hour"
            archiveNumbering="Date"
            maxArchiveFiles="30" />
    <target name="errorfile" xsi:type="File"
        fileName="D:\Logs\DDDSample\${date:format=yyyyMMdd}\error_${date:format=yyyy-MM-dd_HH}.log"
        layout="${longdate}|${level:uppercase=true}|${logger}|${message}"
        archiveEvery="Hour"
        archiveNumbering="Date"
        maxArchiveFiles="30" />
  </targets>
  <rules>
    <logger name="LoggingMiddleware" minlevel="Info" writeTo="logfile" />
    <logger name="ExceptionMiddleware" minlevel="Error" writeTo="errorfile" />
  </rules>
</nlog>