<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="logfile" xsi:type="File"
            fileName="/app/logs/${date:format=yyyyMMdd}/app_${date:format=yyyy-MM-dd_HH}.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}"
            archiveEvery="Hour"
            archiveNumbering="Date"
            maxArchiveFiles="30" />
    <target name="redisfile" xsi:type="File"
        fileName="/app/logs/${date:format=yyyyMMdd}/redis_${date:format=yyyy-MM-dd_HH}.log"
        layout="${longdate}|${level:uppercase=true}|${logger}|${message}"
        archiveEvery="Hour"
        archiveNumbering="Date"
        maxArchiveFiles="30" />
    <target name="errorfile" xsi:type="File"
        fileName="/app/logs/${date:format=yyyyMMdd}/error_${date:format=yyyy-MM-dd_HH}.log"
        layout="${longdate}|${level:uppercase=true}|${logger}|${message}"
        archiveEvery="Hour"
        archiveNumbering="Date"
        maxArchiveFiles="30" />
    <target name="console" xsi:type="Console"
        layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />
  </targets>
  <rules>
    <logger name="LoggingMiddleware" minlevel="Info" writeTo="logfile" />
    <logger name="RedisCacheService" minlevel="Info" writeTo="redisfile" />
    <logger name="ExceptionMiddleware" minlevel="Error" writeTo="errorfile" />
    <logger name="*" minlevel="Info" writeTo="console" />
  </rules>
</nlog>